.card {
  padding: 20px 20px;
  margin: 15px 0;
  position: relative;
  text-align: start;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.featureList {
  font-size: 5px;
}

.priorityLabel {
  position: absolute;
  top: 5px;
  right: 5px;
}

.actions {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.mainBtn {
  letter-spacing: 1px;
}

.mainBtn:hover {
  background-color: #819488;
  color: #fff;
}

a:link {
  color: #819488;
}

a:visited {
  color: #91a49c;
}

a:hover {
  color: #a2b5b0;
}
