absl-py==1.3.0
ailment==9.2.11
aiofiles==23.1.0
aiohttp==3.8.3
aiohttp-socks==0.7.1
aiosignal==1.3.1
airdrop-ng==1.1
airgraph-ng==1.1
angr==9.2.11
anyio==3.6.2
AnyQt==0.2.0
apkleaks==2.6.1
apng==0.3.4
appdirs==1.4.4
archinfo==9.2.11
argcomplete==2.0.0
asgiref==3.6.0
asn1crypto==1.5.1
asttokens==2.0.8
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
atomicwrites==1.4.1
attrs==22.2.0
autocommand==2.2.2
Automat==22.10.0
Babel==2.11.0
backcall==0.2.0
baycomp==1.0.2
bcrypt==4.0.1
beautifulsoup4==4.11.1
bidict==0.22.1
binwalk==2.3.3
bitstring==3.1.9
black==23.1.0
Bottleneck==1.3.7
Brotli==1.0.9
btrfsutil==6.2.2
CacheControl==0.12.11
cachetools==5.2.0
capstone==4.0.2
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
claripy==9.2.11
cle==9.2.11
click==8.1.3
click-plugins==1.1.1
cloud-init==23.1.1
cloudpickle==2.2.0
colorama==0.4.6
colored-traceback==0.3.0
commonmark==0.9.1
configobj==5.1.0.dev0
constantly==15.1.0
CppHeaderParser==2.7.4
cryptography==39.0.2
cssbeautifier==1.14.7
cssselect==1.2.0
cxxfilt==0.2.2
cycler==0.11.0
Cython==0.29.33
debugpy==1.6.3
decorator==4.4.2
dictdiffer==0.9.0
dill==0.3.6
distro==1.8.0
Django==4.1.5
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
djlint==1.19.16
dnspython==2.3.0
Dockbarx==1.0b2
docutils==0.19
doom==0.3.2
dpkt==1.9.7.2
dulwich==0.20.43
echo360==2.1
EditorConfig==0.12.3
email-validator==1.3.1
entrypoints==0.4
et-xmlfile==1.1.0
etils==0.9.0
evdev==1.6.1
exceptiongroup==1.1.1
executing==0.10.0
ExifRead==3.0.0
fastjsonschema==2.16.3
ffmpy==0.3.0
filebytes==0.10.2
flake8==6.0.0
flare-capa==3.2.1
Flask==2.2.3
Flask-SocketIO==5.3.2
flask-unsign==1.2.0
flatbuffers==22.10.26
fonttools==4.36.0
frozenlist==1.3.3
funcy==1.16
future==0.18.2
gast==0.4.0
geocoder==1.38.1
gevent==22.10.2
git-dumper==1.0.6
gitdb==4.0.9
GitPython==3.1.27
gmpy2==2.1.2
google-auth==2.14.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.56.4
greenlet==2.0.2
grpcio==1.50.0
gunicorn==20.1.0
gym==0.26.2
gym-notices==0.0.8
gym-ple==0.3
h11==0.14.0
h2==4.1.0
h5py==3.7.0
halo==0.0.31
hexdump==3.3
hpack==4.0.0
html-tag-names==0.1.2
html-void-elements==0.1.0
html2text==2020.1.16
httpcore==0.16.3
httpx==0.23.3
hyperframe==6.0.1
hyperlink==21.0.0
icoextract==0.1.4
ida-netnode==3.0
ida-settings==2.1.0
idna==3.4
impacket==0.9.24
importlib-metadata==6.0.0
importlib-resources==5.10.0
incremental==22.10.0
inflect==6.0.2
iniconfig==2.0.0
intervaltree==3.1.0
ipykernel==6.15.1
ipython==8.4.0
ipython-genutils==0.2.0
isort==5.12.0
itanium-demangler==1.0
itsdangerous==2.1.2
jaraco.classes==3.2.3
jaraco.context==4.3.0
jaraco.functools==3.6.0
jaraco.text==3.11.1
jedi==0.18.1
jeepney==0.8.0
Jinja2==3.1.2
joblib==1.2.0
jsbeautifier==1.14.7
jsonpatch==1.32
jsonpointer==2.3
jsonschema==4.17.3
jupyter-client==7.3.4
jupyter-core==4.11.1
keras==2.10.0
Keras-Preprocessing==1.1.2
keyring==23.13.1
keyrings.alt==4.2.0
kiwisolver==1.4.4
ldap3==2.9
lensfun==0.3.3
libclang==14.0.6
lief==0.12.1
lockfile==0.12.2
log-symbols==0.0.14
Logbook==1.5.3
louis==3.25.0
lxml==4.9.2
Mako==1.2.3
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib==3.5.3
matplotlib-inline==0.1.6
matrix==0.3.0
matrix-nio==0.20.0
mccabe==0.7.0
more-itertools==9.1.0
mpmath==1.2.1
msgpack==1.0.4
mugshot==0.4.3
mulpyplexer==0.9
multidict==6.0.3
mypy-extensions==1.0.0
nampa==0.1.1
nest-asyncio==1.5.5
netifaces==0.11.0
netsnmp-python==1.0a1
networkx==2.5.1
nftables==0.1
NoSQLMap==0.7
numpy==1.24.2
oauthlib==3.2.2
OpenCC==1.1.5
openpyxl==3.1.2
openTSNE==0.7.1
opt-einsum==3.3.0
optimus-manager==1.4
orange-canvas-core==0.1.30
orange-widget-base==4.20.0
Orange3==3.34.1
ordered-set==4.1.0
outcome==1.2.0
packaging==23.0
pandas==1.5.3
parso==0.8.3
pathlib2==2.3.7.post1
pathspec==0.11.0
pcapy-ng==1.0.5
peewee==3.15.4
pefile==2021.9.3
pexpect==4.8.0
pfp==0.4.11
pick==2.2.0
pickleshare==0.7.5
Pillow==9.4.0
pipx==1.1.0
platformdirs==3.1.1
pluggy==1.0.0
plumbum==1.7.2
ply==3.11
prettytable==3.6.0
progressbar2==4.0.0
promise==2.3
prompt-toolkit==3.0.30
protobuf==3.19.6
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pwntools==4.8.0
py010parser==0.1.18
pyalpm==0.10.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyaxmlparser==0.3.28
pycairo==1.23.0
pycodestyle==2.10.0
pycparser==2.21
pycryptodome==3.17
pycryptodomex==3.12.0
pydantic==1.10.7
pyelftools==0.28
pyflakes==3.0.1
pygame==2.1.2
Pygments==2.14.0
PyGObject==3.44.1
PyJWT==1.7.1
pyOpenSSL==23.1.1
pyparsing==3.0.9
pypng==0.0.21
PyQt5==5.15.9
PyQt5-sip==12.11.1
pyqtgraph==0.13.2
pyrsistent==0.19.3
pyserial==3.5
PySMT==0.9.6.dev21
PySocks==1.7.1
pyte==0.8.1
pytest==7.2.2
python-dateutil==2.8.2
python-decouple==3.7
python-dotenv==1.0.0
python-engineio==4.3.4
python-evtx==0.7.4
python-flirt==0.7.0
python-louvain==0.16
python-magic==0.4.27
python-olm==3.2.12
python-ptrace==0.9.8
python-snappy==0.6.1
python-socketio==5.7.2
python-socks==2.0.3
python-utils==3.3.3
python-xlib==0.33
python-xmp-toolkit==2.0.1
pytz==2022.7.1
pyvex==9.2.11
pyxdg==0.28
PyYAML==6.0
pyzmq==23.2.1
qasync==0.23.0
qtconsole==5.4.1
QtPy==2.3.0
ranger-fm==1.9.3
ratelim==0.1.6
Reflector==2021.11.20.2.41.3
regex==2023.3.23
requests==2.28.2
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rfc3986==1.5.0
ROPGadget==6.8
ropper==1.13.8
rpyc==5.1.0
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scapy==2.4.5
scikit-learn==1.1.3
scipy==1.10.1
SecretStorage==3.3.3
selenium==4.7.2
serverfiles==0.3.1
service-identity==21.1.0
shodan==1.28.0
shtab==1.5.8
six==1.16.0
smda==1.7.1
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spinners==0.0.24
SQLAlchemy==2.0.6
sqlparse==0.4.3
stack-data==0.4.0
stegoveritas==1.9
stegoveritas-binwalk==2.1.2
stegoveritas-pfp==0.2.3
stegoveritas-py010parser==0.1.10
sympy==1.10.1
tabulate==0.8.9
TBB==0.2
team==1.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-datasets==4.7.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
tensorflow-metadata==1.10.0
termcolor==2.2.0
thefuck==3.32
threadpoolctl==3.1.0
tldr==3.1.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
tornado==6.2
tqdm==4.65.0
traitlets==5.3.0
trash-cli==0.23.2.13.2
trio==0.22.0
trio-websocket==0.9.2
trove-classifiers==2023.3.10
Twisted==22.10.0
typing_extensions==4.5.0
unicorn==1.0.2rc4
unpaddedbase64==2.1.0
urllib3==1.26.13
userpath==1.8.0
validate==5.1.0.dev0
validate-pyproject==0.12.2.post1.dev0+g2940279.d20230328
viv-utils==0.6.11
vivisect==1.0.7
volatility3==2.0.1
vrms-arch==1.0
wcwidth==0.2.5
webcolors==1.13
Werkzeug==2.2.3
wget==3.2
wrapt==1.14.1
wsproto==1.2.0
xlrd==2.0.1
XlsxWriter==3.0.8
yara-python==4.2.3
yarl==1.8.2
youtube-dl==2021.12.17
z3-solver==4.10.1.0
zipp==3.10.0
zope.event==4.6
zope.interface==6.0
