.App {
  text-align: center;
  padding: 5px;
  background-color: #819488;
  background-image: url("./img/background.svg");
  background-size: cover;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.featureCard {
  margin: 0 auto;
  padding: 5px 15px;
  width: 780px;
}

.findBtn {
  width: 120px;
  margin: 25px auto 10px auto !important;
}

.infoCards {
  width: 90%;
  margin: 50px auto;
  min-height: 45vh;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
